/* Z.E.I.N.T.H. Exchange/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0C0A09; /* void-black */
    color: #A1A1AA; /* stardust-grey */
}

/* Custom Scrollbar for a more integrated look */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #18181B; /* dark-matter */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(6, 182, 212, 0.4); /* cosmic-teal transparent */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(6, 182, 212, 0.7); /* cosmic-teal less transparent */
}

/* Add a subtle glow to selected text */
::selection {
    background: rgba(6, 182, 212, 0.3);
}